{% extends "users/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="error-message">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
<div class="box">
    <form id="register-form" method="POST">
        {% csrf_token %}
        <div class="user-fields">
            {{form.username}}
            <span class="bar"></span>
        </div>
        <div class="user-fields">
            {{form.password1}}
            <span class="bar"></span>
        </div>
        <div class="user-fields">
            {{form.password2}}
            <span class="bar"></span>
        </div> 
    </form>
</div>
<div class="buttons-box">
    <div class="action-button">
        <input type="submit" value="Register" form="register-form">
    </div>
    <div class="buttons">
        <a class="person-button" href="{% url 'users_login' %}">
            <span id="person" class="material-icons-round notranslate">person</span>
        </a>
        <a href="{% url 'tasks' %}">
            <span id="home" class="material-icons-round notranslate">home</span>
        </a>
    </div>
</div>
{% endblock %}